$orange-000: #dfa62d !default;
$orange-100: #da9317 !default;
$orange-200: #b47e08 !default;
$orange-300: #9c6410 !default;

$link-color: $orange-200;
$nav-child-link-color: $orange-200 !default;
$btn-primary-color: $orange-200 !default;

